<p id="notice"><%= notice %></p>

<p>
  <strong>Production:</strong>
  <%= @order.production_id %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @order.desc %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
